.card{
    width: 350px;
    height: 337px;
    background: var(--white);
    padding-bottom: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card__container{
    flex-grow: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__title{
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    text-align: center;
    color: var(--black);
}

@media screen and (min-width: 375px) and (max-width: 576px){

    .card{
        width: 164px;
        height: 190px;
        padding: 10px 0;
    }

    .card:nth-child(3){
        order: -5;
    }

    .card:nth-child(6){
        order: -4;
    }

    .card:nth-child(5){
        order: -3;
    }

    .card:nth-child(4){
        order: -2;
    }

    .card__container{
        box-shadow: 0 2px 4px 0 #2124290D;
        padding: 10px 20px 5px 20px;
    }

    .card__title{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
}