/* Стилизация аккордеона */
.accordion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.accordion__item{
    margin-bottom: 8px;
    padding: 2rem;
    border: 2px solid var(--black);
    border-radius: 8px;
}

.accordion__item[open] .accordion__text{
    margin-top: 1rem;
    padding: 0 0 0.25rem 0;
}

.accordion__item:last-child{
    margin-bottom: 0;
}

.accordion__summary{
    color: var(--black);
    cursor: pointer;
}

.accordion__summary::marker{
    content: '';
    /* вариант предложенный в лекции 1 не сработал */
}

.accordion__text{
    color: var(--grey-4);
}