.toggler{
    display: inline-block;
    position: relative;
}

.toggler__input{
    position: absolute;
    opacity: 0;
    left: -100vw;
}

.toggler__state{
    display: flex;
    align-items: center;
    gap: 12px;
}

.toggler__control,
.toggler__icon{
    transition: all 0.25s linear;
}

.toggler__control{
    width: 50px;
    height: 26px;
    padding-left: 1px;
    border: 1px solid var(--grey-2);
    border-radius: 16px;

    display: flex;
    align-items: center;
}

.toggler__icon{
    background: var(--grey-2);
    width: 24px;
    height: 24px;
    border-radius: 16px;
}

.toggler__label{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state .toggler__control{
    background-color: #4263EB;
    border-color: #4263EB;
    
    /* justify-content: flex-end; */
    padding-left: 0;
    padding-right: 1px;

    transition: all 0.25s linear;
}

.toggler__input:checked ~ .toggler__state .toggler__control .toggler__icon{
    background-color: var(--white);
    transform: translateX(26px);
    transition: transform 0.25s linear;
}

.toggler__input:focus ~ .toggler__state .toggler__label{
    text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state .toggler__control{
    background-color: var(--grey-2);
    border-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__control .toggler__icon{
    background-color: var(--grey-3);
    border-color: var(--grey-3);
}