.page{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page__main{
    flex-grow: 1;
}

/* Стили для страницы компонента */

.page_component{
    display: grid;
    grid-template-rows: auto 1fr auto;
}