.toggler_project{
    width: 128px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.toggler_project__icon{
    height: 24px;
    width: 24px;
}
