.calendar{
    width: 100%;
    max-width: 304px;
    padding: 28px 26px 32px 26px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.calendar__title{
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #334D6E;
    text-align: center;

}

.calendar__wrapper{
    padding-bottom: 100%;
    position: relative;
}

.calendar__inner{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar__item_day{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #90A0B7;
}

.calendar__item{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__item_active{
    background-color: #4263EB;
    color: var(--white);
}

.calendar__item_between-active{
    background-color: hsla(228, 81%, 79%, 0.200);
}

/* calendar__preview STYLES */

.calendar_preview{
    width: 100%;
    max-width: 202px;
    padding: 5px 10px;
}


.calendar_preview .calendar__title{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 800;
}

.calendar_preview .calendar__item{
    font-size: 14px;
}

/* calendar__preview-mobile STYLES */

@media screen and (min-width: 375px) and (max-width: 576px){
    
    .calendar_preview-mobile{
        width: 100%;
        max-width: 144px;
        border: none;
        padding: 0;
    }
    
    .calendar_preview-mobile .calendar__title{
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: 800;
    }
    
    .calendar_preview-mobile .calendar__item{
        font-size: 8px;
    }
}




