.skeleton{
    width: 579px;
    height: 192px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.skeleton__upper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 24px 0 24px 24px;
}

.ellipse{
    background-color: var(--grey-2);
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    margin-right: 16px;
}

.line{
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
}

.line:first-child{
    width: 172px;
    margin-bottom: 8px;
}

.line:nth-child(2){
    width: 257px;
}

.skeleton__lower{
    margin: 24px 0 32px 24px;
}

.skeleton__lower .line{
    width: 515px;
    margin: 8px 0;
}

