.footer{
    padding: 96px 0 77px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer *{
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

.footer__title{
    margin-top: -24px;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
}

.footer__content{
    width: 640px;
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}