.preview{
    background-color:#F9FAFC;
    padding: 68px 0;
}

.preview__cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 576px){

    .preview{
        padding: 24px 0;
    }

    .preview__cards{
        gap: 16px;
    }
}
